.end {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: .9rem; 
    margin-top: 2rem;
}


.flip {

    &__container {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        perspective: 1000px;

        &:hover .flip__flipper {
            transform: rotateY(180deg);
        }
    }

    &__flipper {
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: transform 0.8s;
        position: relative;
    }

    &__back, &__front {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    &__back {
        transform: rotateY(180deg);
    }

    &__img {
        width: 100%;
        border-radius: 50%;

    }
    
}



.author {
    display: flex;
    align-items: center;
    gap: .8rem;

    &__text {
        color: black;
        font-size: .84rem;
    }

}

.btn-flip {
    opacity: 1;
	outline: 0;
	color: black;
	line-height: 40px;
	position: relative;
	text-align: center;
	letter-spacing: 1px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;

    &:hover{
		
		&:after{
			opacity: 1;
			transform: translateY(0) rotateX(0);
		}
		
		&:before{
			opacity: 0;
			transform: translateY(50%) rotateX(90deg);
		}
	}
	
	&:after{
		top: 0;
		left: 0;
		opacity: 0;
		width: 100%;
		color: #323237;
		display: block;
		transition: $speed;
		position: absolute;
		background: #adadaf;
		content: attr(data-back);
		transform: translateY(-50%) rotateX(90deg);
        font-size: 1rem;

	}
	
	&:before{
		top: 0;
		left: 0;
		opacity: 1;
		color: #adadaf;
		display: block;
		padding: 0 0;
		line-height: 40px;
		transition: $speed;
		position: relative;
		background: black;
		content: attr(data-front);
		transform: translateY(0) rotateX(0);
        font-size: 1rem;
	}
}
